In [1]:
from nbapy import scoreboard
import pandas as pd
pd.set_option('max_columns', None)

# game_header

In [2]:
scoreboard.Scoreboard(12,25,2019).game_header()

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,GAME_STATUS_ID,GAME_STATUS_TEXT,GAMECODE,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,LIVE_PERIOD,LIVE_PC_TIME,NATL_TV_BROADCASTER_ABBREVIATION,LIVE_PERIOD_TIME_BCAST,WH_STATUS
0,2019-12-25T00:00:00,1,0021900455,3,Final,20191225/BOSTOR,1610612761,1610612738,2019,4,,ESPN,Q4 - ESPN,1
1,2019-12-25T00:00:00,2,0021900456,3,Final,20191225/MILPHI,1610612755,1610612749,2019,4,,ABC,Q4 - ABC,1
2,2019-12-25T00:00:00,3,0021900457,3,Final,20191225/HOUGSW,1610612744,1610612745,2019,4,,ABC,Q4 - ABC,1
3,2019-12-25T00:00:00,4,0021900458,3,Final,20191225/LACLAL,1610612747,1610612746,2019,4,,ESPN/ABC,Q4 - ESPN/ABC,1
4,2019-12-25T00:00:00,5,0021900459,3,Final,20191225/NOPDEN,1610612743,1610612740,2019,4,,ESPN,Q4 - ESPN,1

# line_score

In [3]:
scoreboard.Scoreboard(12,25,2019).line_score()

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,PTS_OT7,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
0,2019-12-25T00:00:00,1,0021900455,1610612738,BOS,Boston,21-7,28,27,33,30,0,0,0,0,0,0,0,0,0,0,118,0.500,0.857,0.424,26,45,19
1,2019-12-25T00:00:00,1,0021900455,1610612761,TOR,Toronto,21-10,19,28,22,33,0,0,0,0,0,0,0,0,0,0,102,0.475,0.818,0.348,17,34,17
2,2019-12-25T00:00:00,2,0021900456,1610612749,MIL,Milwaukee,27-5,30,18,25,36,0,0,0,0,0,0,0,0,0,0,109,0.474,0.750,0.394,23,47,10
3,2019-12-25T00:00:00,2,0021900456,1610612755,PHI,Philadelphia,23-10,38,31,31,21,0,0,0,0,0,0,0,0,0,0,121,0.436,0.800,0.477,29,49,7
4,2019-12-25T00:00:00,3,0021900457,1610612745,HOU,Houston,21-10,29,39,19,17,0,0,0,0,0,0,0,0,0,0,104,0.370,0.875,0.314,19,49,12
5,2019-12-25T00:00:00,3,0021900457,1610612744,GSW,Golden State,8-24,28,36,28,24,0,0,0,0,0,0,0,0,0,0,116,0.471,0.893,0.321,27,54,16
6,2019-12-25T00:00:00,4,0021900458,1610612746,LAC,LA,23-10,31,20,35,25,0,0,0,0,0,0,0,0,0,0,111,0.459,0.750,0.360,24,50,16
7,2019-12-25T00:00:00,4,0021900458,1610612747,LAL,Los Angeles,24-7,33,30,23,20,0,0,0,0,0,0,0,0,0,0,106,0.406,0.762,0.267,24,42,13
8,2019-12-25T00:00:00,5,0021900459,1610612740,NOP,New Orleans,9-23,29,29,26,28,0,0,0,0,0,0,0,0,0,0,112,0.456,1.000,0.419,23,52,18
9,2019-12-25T00:00:00,5,0021900459,1610612743,DEN,Denver,21-9,26,29,25,20,0,0,0,0,0,0,0,0,0,0,100,0.402,0.778,0.324,24,40,12

# series_standings

In [4]:
scoreboard.Scoreboard(12,25,2019).series_standings()

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,GAME_DATE_EST,HOME_TEAM_WINS,HOME_TEAM_LOSSES,SERIES_LEADER
0,0021900459,1610612743,1610612740,2019-12-25T00:00:00,1,2,New Orleans
1,0021900457,1610612744,1610612745,2019-12-25T00:00:00,1,2,Houston
2,0021900458,1610612747,1610612746,2019-12-25T00:00:00,1,2,LA Clippers
3,0021900456,1610612755,1610612749,2019-12-25T00:00:00,1,2,Milwaukee
4,0021900455,1610612761,1610612738,2019-12-25T00:00:00,1,2,Boston

# last_meeting

In [5]:
scoreboard.Scoreboard(12,25,2019).last_meeting()

,GAME_ID,LAST_GAME_ID,LAST_GAME_DATE_EST,LAST_GAME_HOME_TEAM_ID,LAST_GAME_HOME_TEAM_CITY,LAST_GAME_HOME_TEAM_NAME,LAST_GAME_HOME_TEAM_ABBREVIATION,LAST_GAME_HOME_TEAM_POINTS,LAST_GAME_VISITOR_TEAM_ID,LAST_GAME_VISITOR_TEAM_CITY,LAST_GAME_VISITOR_TEAM_NAME,LAST_GAME_VISITOR_TEAM_CITY1,LAST_GAME_VISITOR_TEAM_POINTS
0,0021900455,0021900017,2019-10-25T00:00:00,1610612761,Toronto,Raptors,TOR,106,1610612738,Boston,Celtics,BOS,112
1,0021900456,0021801177,2019-04-04T00:00:00,1610612755,Philadelphia,76ers,PHI,122,1610612749,Milwaukee,Bucks,MIL,128
2,0021900457,0021900107,2019-11-06T00:00:00,1610612744,Golden State,Warriors,GSW,112,1610612745,Houston,Rockets,HOU,129
3,0021900458,0021900002,2019-10-22T00:00:00,1610612747,Los Angeles,Lakers,LAL,102,1610612746,LA,Clippers,LAC,112
4,0021900459,0021900067,2019-10-31T00:00:00,1610612743,Denver,Nuggets,DEN,107,1610612740,New Orleans,Pelicans,NOP,122

# east_conf_standings_by_day

In [6]:
scoreboard.Scoreboard(12,25,2019).east_conf_standings_by_day()

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD
0,1610612749,00,22019,12/25/2019,East,Milwaukee,32,27,5,0.844,15-2,12-3
1,1610612738,00,22019,12/25/2019,East,Boston,28,21,7,0.750,12-1,9-6
2,1610612748,00,22019,12/25/2019,East,Miami,30,22,8,0.733,13-1,9-7
3,1610612755,00,22019,12/25/2019,East,Philadelphia,33,23,10,0.697,16-2,7-8
4,1610612754,00,22019,12/25/2019,East,Indiana,31,21,10,0.677,14-3,7-7
5,1610612761,00,22019,12/25/2019,East,Toronto,31,21,10,0.677,13-4,8-6
6,1610612751,00,22019,12/25/2019,East,Brooklyn,29,16,13,0.552,9-5,7-8
7,1610612753,00,22019,12/25/2019,East,Orlando,30,13,17,0.433,9-6,4-11
8,1610612766,00,22019,12/25/2019,East,Charlotte,33,13,20,0.394,7-9,6-11
9,1610612741,00,22019,12/25/2019,East,Chicago,32,12,20,0.375,6-10,6-10
10,1610612765,00,22019,12/25/2019,East,Detroit,31,11,20,0.355,7-10,4-10
11,1610612764,00,22019,12/25/2019,East,Washington,29,9,20,0.310,4-7,5-13
12,1610612739,00,22019,12/25/2019,East,Cleveland,30,9,21,0.300,6-10,3-11
13,1610612752,00,22019,12/25/2019,East,New York,31,7,24,0.226,4-12,3-12
14,1610612737,00,22019,12/25/2019,East,Atlanta,31,6,25,0.194,3-11,3-14

# west_conf_standings_by_day

In [7]:
scoreboard.Scoreboard(12,25,2019).west_conf_standings_by_day()

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD
0,1610612747,00,22019,12/25/2019,West,L.A. Lakers,31,24,7,0.774,10-4,14-3
1,1610612743,00,22019,12/25/2019,West,Denver,30,21,9,0.700,13-4,8-5
2,1610612746,00,22019,12/25/2019,West,LA Clippers,33,23,10,0.697,14-2,9-8
3,1610612745,00,22019,12/25/2019,West,Houston,31,21,10,0.677,10-4,11-6
4,1610612742,00,22019,12/25/2019,West,Dallas,29,19,10,0.655,8-7,11-3
5,1610612762,00,22019,12/25/2019,West,Utah,30,18,12,0.600,11-3,7-9
6,1610612760,00,22019,12/25/2019,West,Oklahoma City,29,15,14,0.517,11-5,4-9
7,1610612757,00,22019,12/25/2019,West,Portland,31,14,17,0.452,8-7,6-10
8,1610612759,00,22019,12/25/2019,West,San Antonio,29,12,17,0.414,8-8,4-9
9,1610612758,00,22019,12/25/2019,West,Sacramento,30,12,18,0.400,6-6,6-12
10,1610612756,00,22019,12/25/2019,West,Phoenix,30,11,19,0.367,6-12,5-7
11,1610612763,00,22019,12/25/2019,West,Memphis,31,11,20,0.355,6-12,5-8
12,1610612750,00,22019,12/25/2019,West,Minnesota,29,10,19,0.345,3-10,7-9
13,1610612740,00,22019,12/25/2019,West,New Orleans,32,9,23,0.281,4-11,5-12
14,1610612744,00,22019,12/25/2019,West,Golden State,32,8,24,0.250,5-10,3-14

# available

In [8]:
scoreboard.Scoreboard(12,25,2019).available()

      GAME_ID  PT_AVAILABLE
0  0021900455             1
1  0021900458             1
2  0021900456             1
3  0021900457             1
4  0021900459             1